<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"href="../static/css/apple.css">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<a target="_blank" href="about.html"><h1 class="mary">About emobilis</h1></a>
<a target="_blank" href="index.html"><button class="jane">Home</button></a>
<a target="_blank" href="about.html"><button class="sussan">About</button></a>
<a target="_blank" href="gallery.html"><button class="edna">Gallery</button></a>
<a target="_blank" href="register.html"><button class="fraciah">Register</button></a>
<a target="_blank" href="login.html"><button class="paul">Login</button></a>
<hr class="wilberforce">

<h3 class="diana">Courses offered</h3>

<table>
    <tr>
        <td>course name</td>
        <td>course duration</td>
        <td>course cost</td>
    </tr>
    <tr>
        <td>web-development</td>
        <td>2 months</td>
        <td>ksh. 50,000</td>
    </tr>
    <tr>
        <td>Android</td>
        <td>1.5months</td>
        <td>ksh. 35,000</td>
    </tr>
    <tr>
        <td>Cybersecurity</td>
        <td>3 months</td>
        <td>ksh.60,000</td>
    </tr>
    <tr>
        <td>Fullstack software development</td>
        <td>4.5 months</td>
        <td>ksh.90,000</td>
    </tr>
    <tr>
        <td>Fullstack software development</td>
        <td>4.5 months</td>
        <td>ksh.90,000</td>
    </tr>
    <tr>
        <td>Data science</td>
        <td>2 months</td>
        <td>ksh.50,000</td>

    </tr>
    </table>
<h3 class="diana">our esteemed branches</h3>
<ol class="town">
    <li>Nairobi branch</li>
    <li>Nakuru branch</li>
    <li>Eldoret branch</li>
    <li>Mombasa branch</li>
    <li>Kisumu branch</li>
</ol>
</body>
</html>

