<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
    <link rel="stylesheet" href="../static/css/apple.css">
</head>
<body>
<div class="header">
    <h1>Cities</h1>
</div>
<div class="content">
    <div class="content-left">
        <ol>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li ><a href="#">France</a></li>
        </ol>
    </div>
    <div class="content-right">
        <h1>london</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut beatae corporis dolores doloribus ducimus excepturi fuga, inventore libero, officia
            perferendis recusandae rem repellendus sit, vero. Blanditiis eos eveniet temporibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolorum et id modi voluptatibus voluptatum. Cum
            cumque iste itaque laudantium quaerat quas saepe sunt tempora? Adipisci commodi dolore facere in.</p>
    </div>

</div>
<div class="footer">
    <h5>Footer</h5>
</div>
</body>
</html>