<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Divs</title>
    <link rel="stylesheet" href="../static/css/apple.css">
</head>
<body>
<!--start of top div-->
<div class="top">
    <div class="top-left"></div>
    <div class="top-right"></div>
</div>
<!--end of top div-->
<!--start of middle div-->
<div class="middle">
    <div class="middle-left"></div>
    <div class="middle-center"></div>
    <div class="middle-right"></div>
</div>
<!--end of middle div-->
<!--start of bottom div-->
<div class="bottom">
    <div class="bottom-left"></div>
    <div class="bottom-center"></div>
    <div class="bottom-right"></div>
    <div class="bottom-up"></div>
</div>
<!--end of bottom div-->
</body>
</html>