<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/apple.css">
</head>
<body>
<h1 class="mary">emobilis Gallery</h1>
<a target="_blank" href="index.html"><button class="jane">Home</button></a>
<a target="" href="about.html"><button class="sussan">About</button></a>
<a target="_blank" href="gallery.html"><button class="edna">Gallery</button></a>
<a target="_blank" href="register.html"><button class="fraciah">Register</button></a>
<a target="_blank" href="login.html"><button class="paul">Login</button></a>
<hr class="wilberforce">
<img class="enock" src="../static/images/my%203.jpg" alt="my pic 1">
<img class="enock" src="../static/images/my%202.jpg" alt="my pic 2">
<img class="enock" src="../static/images/my%203.jpg" alt="my pic 3">
<img class="enock" src="../static/images/my%204.jpg" alt="my pic 4">
<img class="enock" src="../static/images/my%203.jpg" alt="my pic 1">
<img class="enock" src="../static/images/my%202.jpg" alt="my pic 2">
<img class="enock" src="../static/images/my%203.jpg" alt="my pic 3">
<img class="enock" src="../static/images/my%204.jpg" alt="my pic 4">

</body>
</html>