<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/apple.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
  <h1 class="mary">emobilis coding school</h1>
  <a href="gallery.html"><button class="fraciah">Go to gallery</button></a>
  <a target="_blank" href="index.html"><button class="jane">Home</button></a>
      <a target="_blank" href="about.html"> <button class="sussan">About</button></a>
      <a target="_blank" href="gallery.html"><button class="edna">Gallery</button></a>
      <a target="_blank" href="register.html"><button class="fraciah">Register</button></a>
          <a target="_blank" href="login.html"> <button class="paul">Login</button></a>
    <hr class="wilberforce">

    <h3 class="diana">principal's remarks</h3>
    <p class="allan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius excepturi, incidunt inventore laudantium magnam maiores necessitatibus nisi placeat possimus
  qui recusandae, reprehenderit sequi soluta tempore tenetur? Consequuntur pariatur quae quibusdam.</p>


    <h3>deputy principal's remarks</h3>
    <p class="grace">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius excepturi, incidunt inventore laudantium magnam maiores necessitatibus nisi placeat possimus
  qui recusandae, reprehenderit sequi soluta tempore tenetur? Consequuntur pariatur quae quibusdam.</p>

    <h3>senior teacher's remarks</h3>
  <p class="ken">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam error in pariatur quisquam
      sunt totam ut.
      Aspernatur, error ipsa ipsam nulla perferendis perspiciatis quidem velit? Delectus, iusto, quae.</p>
<p class="ken">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam error in pariatur quisquam
      sunt totam ut.
      Aspernatur, error ipsa ipsam nulla perferendis perspiciatis quidem velit? Delectus, iusto, quae.</p>


</body>
</html>