<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/apple.css">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h2 class="diana">Welcome to emobilis</h2><br>
<h3 class="diana">login as</h3>
<input name="user-type" value="Admin" type="radio">Admin
<input checked name="user-type" value="User" type="radio">User
<form class="my-form" action="">
    <input class="my-input" required placeholder="Enter email" type="text"><br><br>
    <input class="my-input" placeholder="Enter password" type="password"><br><br>
    <input class="my-btn" value="register" type="submit"><br><br>
    <input class="my-btn" value="login" type="submit">
</form>
</body>
</html>