<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/apple.css">
</head>
<body>
<a target="_blank" href="register.html"><h1 class="mary">Register Here</h1></a>
<a target="_blank" href="index.html"><button class="jane">Home</button></a>
<a target="_blank" href="about.html"><button class="sussan">About</button></a>
<a target="_blank" href="gallery.html"><button class="edna">Gallery</button></a>
<a target="_blank" href="register.html"><button class="fraciah">Register</button></a>
<a target="_blank" href="login.html"><button class="paul">Login</button></a>
<hr class="wilberforce">
<form class="my-form" action="">
    <input class="my-input" required placeholder="Enter name" type="text"><br><br>
    <input class="my-form" disabled required placeholder="Enter email" type="email"><br><br>
    <input class="my-input" required placeholder="Enter ID number" type="number"><br><br>
    <label for="">D.O.B</label><br>
    <input type="datetime-local"><br><br>
    <label for="">Gender</label><br>
    <select class="my-input" name="" id="">
        <option value="">select gender</option>
        <option value="">male</option>
        <option value="">female</option>
    </select><br><br>
    <input class="my-input" placeholder="Enter password" type="password"><br><br>
    <input class="my-btn" value="register" type="submit">
</form>
</body>
</html>